@using TelefonRehberi.Model
@model Yonetici

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Yönetici</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Yönetici</a></li>
                        <li class="breadcrumb-item active">Yönetici Ekle</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Yönetici Ekle</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Ekle</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.Partial("MessagePartial", TempData["Mesaj"])
                            <div class="form-group">
                                @Html.LabelFor(model => model.Calisanlar.AdSoyad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.CalisanId, new SelectList(ViewBag.Calisanlar as List<Calisan>, "Id", "AdSoyad"), "Seçiniz", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CalisanId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Ekle" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        }

                        <div style="margin-left:1%">
                            @Html.ActionLink("Listeye Git", "/Listele")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
